@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;700&family=Montserrat:wght@100;300;600&display=swap');

:root{
    --texto: 'Montserrat', sans-serif;
    --titulo: 'Kanit', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
section{
    margin-bottom: 20px;
}
.titulosSite{
    font-family: var(--titulo);
    font-weight: 700;
    font-size: 50px;
}
.btnWhatsapp{
    background: #128C7E;
    color: #fff;
    font-size: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
#bannerIndex, #contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

/*BARRA DE NAVEGAÇÃO*/
.barraNav{
    background: #fff;
    border-bottom: 1px solid rgb(136, 136, 136);
}
.colorNav{
    color: #000;
    font-family: var(--texto);
    font-weight: 300;
}

/*BANNER INICIAL*/
#bannerIndex{
    background: url('../img/background2.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
.containerTextoBanner{
    text-align: center;
    color: #fff;
}
.containerTextoBanner h1{
    font-family: var(--titulo);
    font-size: 60px;
    font-weight: 400;
}
.containerTextoBanner p{
    font-family: var(--texto);
    font-weight: 400;
    font-size: 23px;
}
.coletaCpf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cpfCliente{
    border: 1px solid rgb(196, 196, 196);
    color: rgb(26, 26, 26);
    padding: 10px;
    width: 300px;
    border-radius: 30px;
    font-family: var(--texto);
}
.btnConsulta{
    background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
    color: #fff;
    border: none;
}

/*SERVIÇOS*/
.containerServicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding: 20px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    margin-bottom: 20px;
}
.containerServicos i{
    font-size: 60px;
}
.servicosTitulo{
    font-family: var(--titulo);
    font-size: 35px;
}
.servicosTexto{
    font-family: var(--texto);
    font-size: 14px;
}

/*DÚVIDAS*/
.accordion-button, .accordion-body{
    font-family: var(--texto);
    font-weight: 300;
}

/*CONTATO*/
#contato{
    background: url('../img/background_contato.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
.containerInfoContatos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.containerInfoContatos i{
    color: #4C83FF;
    font-size: 30px;
}
.informacoes{
    display: flex;
    flex-direction: column;
    font-family: var(--texto);
}
.informacoes h6{
    font-weight: 600;
}
.informacoes span{
    font-size: 14px;
}

#mensagem > div > div > h5, #mensagem > div > div > h2, #mapaGoogle > div > div > h4{
    font-family: var(--texto);
}
.btnRealizaConsulta{
    border: none;
    color: #fff;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
    font-family: var(--texto);
    margin: 0 auto;
    font-weight: 600px;
}

/*RODAPÉ*/
footer{
    background-color: rgb(27, 27, 27);
    padding: 30px 0px;
}
.logoRodape{
    color: #fff;
    font-family: var(--titulo);
}
.tituloFooter, .textoFooter{
    color: #fff;
    font-family: var(--texto);
}
.listaItensFooter{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
}
